@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

.button {
  border-radius: 91px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 8px 8px 20px #8c8c8c, -8px -8px 20px #ffffff;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #008000;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  padding: 50px;
  background: white;
  flex: 0 0 80%;
  border: 1px white solid;
  max-width: 500px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 20px 20px 60px #004600, -20px -20px 60px #00ba00;
}
