@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Anton", sans-serif;
  font-size: 3rem;
}

h2 {
  font-weight: normal;
}

button {
  font-size: larger;
  border: none;
  padding: 1rem;
  outline: none;
  border-radius: 50%;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 23px 23px 46px #ababab, -23px -23px 46px #ffffff;
}

button:hover {
  border-radius: 50%;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 25px 25px 50px #7a7a7a, -25px -25px 50px #ffffff;
  transition: 0.3s;
  cursor: pointer;
  transform: scale(1.05);
}

button:active {
  border-radius: 50%;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 5px 5px 10px #9c9c9c, -5px -5px 10px #ffffff;
  text-align: center;
  transform: scale(0.9);
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #008000;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  padding: 50px;
  background: white;
  flex: 0 0 80%;
  border: 1px white solid;
  max-width: 500px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 20px 20px 60px #004600, -20px -20px 60px #00ba00;
}

.btn-container {
  padding: 50px;
  background: white;
  flex: 0 0 80%;
  border: 1px white solid;
  max-width: 500px;
  text-align: center;
  border-radius: 50px;
}
